<h1>my本棚</h1>

<% @book_carts.each do |book_cart| %>
  <%= attachment_image_tag book_cart.book, :image, :fill, 100, 100, format: 'jpeg' %>
  <p>タイトル</p>
  <span><%= book_cart.book.name %></span>
  <p>説明</p>
  <span><%= book_cart.book.descript %></span>
  <p>ジャンル</p>
  <span><%= book_cart.book.genre.name %></span>
  <p><%= "#{book_cart.book.book_comments.count} コメント" %></p>
  <p><%= "#{book_cart.book.favorites.count} いいね" %></p>
  <%= link_to "詳細",users_book_path(book_cart.book.id), class:"btn btn-primary" %>
  <%= link_to "読む",users_user_path(current_user.id), class:"btn btn-primary" %>
  <%= link_to "削除する", users_book_cart_path(book_cart), method: :delete, class:"btn btn-danger" %>
  <% end %>
