
      <h4><strong><%= @subscription.title %></strong></h4>
      <p><%= @subscription.descript%></p>
      <h6>
        <% tax_in = (@subscription.price * 1.10).round %>
          ¥<%= tax_in.to_s(:delimited) %>(税込)
      </h6>

      <%= form_with model:@join_cart, url:users_join_carts_path, method: :post, local:true do |f|%>
      <%= f.hidden_field :subscription_id, value: @subscription.id %>
      <h4>支払い方法</h4>
      <h4>
      <%= f.radio_button :payment_method, 0 ,checked: true%>
      <%= f.label :payment_method_credit_card, 'クレジットカード' %>
      </h4>
      <h4>
      <%= f.radio_button :payment_method, 1 %>
      <%= f.label :payment_method_transfer, '銀行払い' %>
      </h4>
      <%= f.submit '次へ', class:"btn btn-primary" %>
      <% end %>
