<main>
  <div id="container">
  </div>
  <body>
    <div>
      <h4 class="text-center">ようこそ、BookShelfへ!<br>
      このサイトは、本読み放題のになります。<br>
      本を読むためには有料の会員登録が必要になります。
      <%= link_to new_user_registration_path, class:"btn btn-success" do %>
        入会する
      <% end %>
      </h4>
    </div>
    <div class="sub-visual">
      <div class="container">
        <tr>
          <th>
            <h2>新着商品（１位〜４位）</h2>
            <div><%=link_to "全ての商品を見る",users_books_path%></div>
          </th>
          <div class="row">
            <% @books.each.with_index(1) do |book| %>

              <div class ="col-3">
                <%= link_to users_book_path(book.id) do %>
                <%= attachment_image_tag book, :image, :fill, 100, 100, format: 'jpeg' , fallback: "no-image.jpg",size:'300x250' %><br>
                <p style="text-align:center"><%= book.name %></p>
                <% end %>
              </div>
                <% end %>

          </div>
      </tr>

    </div>
  </body>
</main>