<h1>Book詳細</h1>

  <h4>商品画像</h4>
  <%= attachment_image_tag @book, :image, :fill, 100, 100, format: 'jpeg' %>
  <h4>タイトル</h4>
  <%= @book.name %>
  <h4>本文</h4>
  <%= @book.descript %>
  <h4>ジャンル</h4>
  <%= @book.genre.name %>

  <%= form_with model:@book_cart, url:users_book_carts_path, method: :post, local:true do |f|%>
  <%= f.hidden_field :book_id, value: @book.id %>
  <%= f.submit '読む', class:"btn btn-primary" %>
  <% end %>

<div>
<p>コメント件数：<%= @book.book_comments.count %></p>
<% @book.book_comments.each do |book_comment| %>
  <%= book_comment.user.name %>
  <%#= book_comment.created_at.strftime('%Y/%m/%d') %><%= book_comment.comment %>
  <% if book_comment.user == current_user %>
  <div>
    <%= link_to "削除", users_book_book_comment_path(book_comment.book, book_comment), method: :delete %>
  </div>
  <% end %>

<% end %>
</div>
<div>
<%= form_with(model:[@book, @book_comment], url:users_book_book_comments_path(@book), local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>
