<div class="container">
  <h2>Book詳細</h2>

    <div class="row">
    <div class="col-6">
      <%= attachment_image_tag @book,:image, size:"500x400", format: 'jpeg' %>
    </div>
    <div class="col-6" id="book_<%= @book.id %>">
      <h4><strong><%= @book.name %></strong></h4>
      <p><%= @book.author%></p>
      <p><%= @book.descript%></p>
      
        <div class="favorite"><%= render "users/favorites/favorite", book: @book %></div>
        
      コメント件数：<%= @book.book_comments.count %>
      <% if user_signed_in? %>
      <%= form_with model:@book_cart, url:users_book_carts_path, method: :post, local:true do |f|%>
      <%= f.hidden_field :book_id, value: @book.id %>
      <%= f.submit 'my本棚へ', class:"btn btn-primary" %>
      <% end %>
      <% end %>
    </div>
    </div>

      <div class="col-md-12">
        <div>
          <h3>コメント</h3>
          <table>
            <thead>
            <th>ユーザー名</th>
            <th></th>
            <th>コメント</th>
            <th>投稿時間</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <% @book.book_comments.each do |book_comment| %>
            <tr>
              <td><%= book_comment.user.name %></td>
              <td></td>
              <td><%= book_comment.comment %></td>
              <td><%= book_comment.created_at %></td>
              <td><% if book_comment.written_by?(current_user) %>
                  <div>
                  <%= link_to "削除", users_book_book_comments_path(book_comment.book, book_comment), method: :delete %>
                  </div>
                  <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
          </table>
        </div>
      </div>
      
      <div class="col-sm-12">
        <h3>
        <div>
          <%= form_with(model:[@book, @book_comment], url:users_book_book_comments_path(@book), local: true) do |f| %>
            <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
        </div>
        </h3>
      </div>
  </div>
</div>