<main>
  <div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <h1 class="mt-5">商品編集</h1>
        <%= form_with model: @book, url:"/admins/books/#{@book.id}", method: :patch, local:true do |f| %>
        <table>
          <tbody>
            <tr>
              <td>
                <h4>商品画像</h4>
              </td>
              <td>
                <%= f.attachment_field :image %>
              </td>
            </tr>
            <tr>
              <td>
                <h4>商品名</h4>
              </td>
              <td>
                <%= f.text_field :name %>
              </td>
            </tr>
            <tr>
              <td>
                <h4>著者</h4>
              </td>
              <td>
                <%= f.text_field :author %>
              </td>
            </tr>
            <tr>
              <td>
                <h4>商品説明</h4>
              </td>
              <td>
                <%= f.text_area :descript %>
              </td>
            </tr>
            <tr>
              <td>
                <h4>ジャンル</h4>
              </td>
              <td>
                <%= f.collection_select :genre_id, Genre.all ,:id, :name, include_blank: "--選択してください--" %>
              </td>
              <td><%= f.submit '編集', class: 'btn btn-success' %></td>
            </tr>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</main>
