<h1>Book一覧</h1>
<div class="text-right">
 </button><%= link_to "新規登録" ,new_admins_book_path, class: "btn btn-primary" %>
</div>
<% @books.each do |book| %>
  <%= attachment_image_tag book, :image, :fill, 100, 100, format: 'jpeg' %>
  <p>タイトル</p>
  <span><%= book.name %></span>
  <p>説明</p>
  <span><%= book.descript %></span>
  <p>ジャンル</p>
  <span><%= book.genre.name %></span>
  <%= link_to "編集", edit_admins_book_path(book.id),class: 'btn btn-success' %>
  <%= link_to "削除する", admins_book_path(book.id), method: :delete, class: 'btn btn-danger' %>
<% end %>