<h1>Book詳細</h1>

  <h4>商品画像</h4>
  <%= @book.image %>
  <h4>タイトル</h4>
  <%= @book.name %>
  <h4>作者</h4>
  <%= @book.author %>
  <h4>本文</h4>
  <%= @book.descript %>
  <h4>ジャンル</h4>
  <%= @book.genre_id %>
  
<% end %>
